@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

.container {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #7650ff;
    font-family: "Rubik";
    margin: 0;
    overflow: hidden;
  }
  .openapp {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    inset: 0;
  }
  .user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .img {
    width: 51px;
    height: 51px;
    background-color: gray;
    border-radius: 50%;
  }
  .names {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .name {
    font-size: 11px;
    font-weight: 900;
    font-style: normal;
    line-height: 13px;
    letter-spacing: 0;
    text-align: "left";
    color: "#000000";
  }
  .username {
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
    color: #585757;
  }
  .open {
    font-size: 11px;
    width: 78px;
    height: 34px;
    border-radius: 17px;
    background-color: #7650ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    z-index: 99;
  }
  .hashtag {
    width: fit-content;
    height: 34px;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.32);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    padding: 0 15px;
    z-index: 999;
  }
  .hashtag text {
    font-size: 10px;
    font-weight: 600;
    text-align: "left";
    color: #ffffff;
  }
  .profile {
    width: 24.9px;
    height: 24.9px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffce00;
    border-radius: 50%;
    margin: 0 4px;
  }
  .icon {
    width: 20px;
    height: 18px;
  }
  .bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
  }
  .left {
    width: 70%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
  }
  .det {
    display: flex;
    width: fit-content;
    height: 27px;
    opacity: 0.32px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.32);
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 15px;
  }
  .at {
    color: #ffce00;
    font-size: 12px;
    font-weight: 500;
    text-align: "left";
  }
  .user2 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: "left";
  }

  .musiccon {
    display: flex;
    flex-direction: row;
  }
  .music {
    width: 15.5px;
    height: 15.5px;
    margin-right: 8px;
  }
  .musictext {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    text-align: "left";
  }
  .right {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin-bottom: 10px;
  }
  .btnscon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
  }
  .btns {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.32);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0 5px 0;
  }
  .btn {
    width: 23.6px;
    height: 20.7px;
  }
  .msgs {
    width: 23.2px;
    height: 21.4px;
  }
  .shr {
    width: 23px;
    height: 20.2px;
  }
  .more {
    width: 23.6px;
    height: 5.5px;
  }
  .ppic {
    width: 52px;
    height: 52px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 50%;
  }
  .video {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* background-color: #eee; */
    display: flex;
    justify-content: center;
    position: relative;
    /* background-image: url(/7.jpg); */
    background-size: cover;
  }
  .media {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.912);
    z-index: 0;
    bottom: 0;
    left: 0;
  }
}
