@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

.container {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: "Rubik";
    margin: 0;
    overflow: hidden;
  }
  .openapp {
    width: 100%;
    height: 25vh;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background: linear-gradient(119.66deg, #7650FF 6.68%, #EF258A 53.83%, #F13E76 61.25%, #FFCE00 104.31%);
  }

  .openapp2 {
    width: 100%;
    height: 25vh;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
     }

     .openapp2 img {
      margin-bottom: 10px;
      width: 180px;
      height: 60px;
     }

  .user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .img {
    width: 51px;
    height: 51px;
    background-color: gray;
    border-radius: 50%;
  }

  .open {
    font-size: 14px;
    width: 235px;
    height: 47px;
    border-radius: 30px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    z-index: 99;
    cursor: pointer;
    margin-top: 10px;
  }
  .hashtag {
    width: fit-content;
    height: 34px;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.32);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    padding: 0 15px;
    z-index: 999;
  }
  .hashtag text {
    font-size: 10px;
    font-weight: 600;
    text-align: "left";
    color: #ffffff;
  }
  .profile {
    width: 24.9px;
    height: 24.9px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #ffce00;
    border-radius: 50%;
    margin: 0 4px;
  }
  .icon {
    width: 20px;
    height: 18px;
  }
  .bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 15px;
  }
  .left {
    width: 70%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
  }
  .det {
    display: flex;
    width: fit-content;
    height: 27px;
    opacity: 0.32px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.32);
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    padding: 0 15px;
  }
  .at {
    color: #ffce00;
    font-size: 12px;
    font-weight: 500;
    text-align: "left";
  }
  .user2 {
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-align: "left";
  }

  .musiccon {
    display: flex;
    flex-direction: row;
  }
  .music {
    width: 15.5px;
    height: 15.5px;
    margin-right: 8px;
  }
  .musictext {
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    text-align: "left";
  }
  .right {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin-bottom: 10px;
  }
  .btnscon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
  }
  .btns {
    width: 50px;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.32); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0 5px 0;
  }
  .btn {
    width: 23.6px;
    height: 20.7px;
  }
  .msgs {
    width: 23.2px;
    height: 21.4px;
  }
  .shr {
    width: 23px;
    height: 20.2px;
  }
  .more {
    width: 23.6px;
    height: 5.5px;
  }
  .ppic {
    width: 52px;
    height: 52px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 50%;
  }
  .video {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-size: cover;
  }
  .media {
    width: 100%;
    height: 100%;
    background-color: #7650FF;
    object-fit: cover;
  }
  .overlay {
    width: 100vw;
    height: 75vh;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #00000022 6.68%, #000000a1 53.83%);
 /* z-index: 9999999; */
  }
  .user {
    flex-direction: row;
    justify-content: flex-start;
  }
  .user img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  .names {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .name {
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    line-height: 13px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    margin-bottom: 3px;
  }
  .namex {
    font-size: 11px;
    font-weight: 600;
    font-style: normal;
    line-height: 13px;
    letter-spacing: 0;
    text-align: center;
    color: #909090;
    margin-top: 10px;
  }
  .username {
    font-size: 9px;
    font-weight: 500;
    font-style: normal;
    line-height: 10px;
    letter-spacing: 0;
    text-align: left;
    color: #fbfbfb;
  }
  .sqr {
    width: 143px;
    height: 143px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
  }
}
