.container {
  min-height: 100vh;
  background-color: #000000;
  margin: 0;
  overflow: hidden;
  font-family: "Rubik";
  font-weight: 900;
  position: relative;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}
/* .section {
  scroll-snap-align: start;
  height: 100vh;
} */
.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
    url("/hero1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero2 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
    url("/hero2.png");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  padding-top: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero3 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
    url("/hero3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 122px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 31px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  width: 214.48px;
  height: 97.85px;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textBtn {
  font-size: 19px;
  font-weight: 900;
  color: white;
  margin-right: 30px;
}
.joinBtn {
  width: 243px;
  height: 75px;
  border-radius: 56px;
  background-color: #7f46ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin-left: 20px;
}
.heroContent {
  width: 100%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
}
.heroText {
  font-size: 115px;
  color: white;
  letter-spacing: -5px;
  line-height: 130px;
  text-align: center;
}
.heroSubText {
  font-size: 28px;
  color: white;
  letter-spacing: 0px;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
.joinBtn2 {
  width: 335px;
  height: 90px;
  border-radius: 56px;
  background-color: white;
  box-shadow: #7f46ff 9px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 27px;
  border: solid #7f46ff 3px;
  margin-top: 70px;
  font-weight: 600;
}
.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bannerHeader {
  font-size: 39px;
  color: #d8d8d8;
  font-weight: 600;
  text-align: center;
}
.bannerText {
  font-size: 115px;
  color: white;
  font-weight: 900;
  letter-spacing: -5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bannerFooter {
  font-size: 26px;
  color: #d8d8d8;
  font-weight: 700;
  text-align: center;
}
.content1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7f46ff;
  padding-left: 295px;
  padding-right: 295px;
}
.content1Left {
  display: flex;
  flex-direction: column;
  position: relative;
}
.challenge {
  font-size: 22px;
  color: #ffcd00;
}
.content1Text {
  font-size: 100px;
  color: white;
  line-height: 85px;
  letter-spacing: -5px;
}
.content1Subtext {
  font-size: 25px;
  color: white;
  font-weight: 100;
  margin-top: 40px;
  line-height: 33px;
}
.joinBtn3 {
  width: 293px;
  height: 79px;
  border-radius: 56px;
  background-color: #7f46ff;
  box-shadow: white -9px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  border: solid white 3px;
  margin-top: 40px;
  font-weight: 600;
}
.screen1 {
  width: 481px;
  height: 900px;
  border-radius: 48px;
  border: solid 11px black;
  background-color: darkslategrey;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  padding-top: 40px;
  background: url(/screen1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.bar {
  width: 100px;
  height: 8px;
  border-radius: 100px;
  background-color: white;
  margin-bottom: 10px;
}
.hashtag {
  color: white;
  font-size: 41px;
  margin-top: 48px;
  font-weight: 800;
}
.views {
  color: white;
  font-size: 33px;
  margin-top: 48px;
  font-weight: 700;
}

.content2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #7f46ff;
  padding-left: 295px;
  padding-right: 295px;
}
.content2Left {
  display: flex;
  flex-direction: column;
  margin-right: -100px;
}
.challenge {
  font-size: 22px;
  color: #ffcd00;
  margin-bottom: 10px;
}
.content2Text {
  font-size: 100px;
  color: white;
  line-height: 85px;
  letter-spacing: -5px;
}
.content2Subtext {
  font-size: 25px;
  color: white;
  font-weight: 100;
  margin-top: 40px;
  line-height: 33px;
}
.joinBtn4 {
  width: 293px;
  height: 79px;
  border-radius: 56px;
  background-color: #7f46ff;
  box-shadow: white 9px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  border: solid white 3px;
  margin-top: 40px;
  font-weight: 600;
}
.screen2 {
  width: 481px;
  height: 900px;
  border-radius: 48px;
  border: solid 11px white;
  background-color: darkslategrey;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  padding-top: 40px;
  background: url(/screen2.png);
  background-size: cover;
  position: relative;
}
.col {
  display: flex;
  flex-direction: column;
}
.bar {
  width: 100px;
  height: 8px;
  border-radius: 100px;
  background-color: white;
  margin-bottom: 10px;
}
.hashtag2 {
  color: white;
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
}
.views2 {
  color: white;
  font-size: 33px;
  font-weight: 700;
}
.footer {
  width: 100%;
  height: 1079px;
  background-color: #ffcd00;
}
.footerText {
  font-size: 150px;
  color: black;
  letter-spacing: -5px;
  line-height: 130px;
  text-align: center;
  position: relative;
}
.joinBtn5 {
  width: 293px;
  height: 79px;
  border-radius: 56px;
  background-color: #7f46ff;
  box-shadow: black -9px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  border: solid black 3px;
  margin-top: 40px;
  font-weight: 600;
}
.footContent {
  width: 100%;
  height: 957px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.foot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 27px;
  padding-left: 57px;
  padding-right: 57px;
}
.fleft {
  font-family: "Rubik";
  font-weight: 700;
}
.fleft text {
  margin-left: 30px;
  font-size: 24;
}
.fcenter {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 19;
}
.icon {
  width: 52px;
  height: 52px;
  margin-right: 10px;
}
.circles {
  width: 50%;
  height: 500px;
  display: flex;
  position: relative;
}
.circle1 {
  width: 294px;
  height: 294px;
  border-radius: 200px;
  /* border: solid 6px white; */
  margin-left: 30px;
}
.circle2 {
  width: 182px;
  height: 182px;
  border-radius: 200px;
  /* border: solid 6px white; */
  margin-left: 30px;
  position: absolute;
  left: 280px;
  top: -180px;
}
.circle3 {
  width: 253px;
  height: 253px;
  border-radius: 200px;
  /* border: solid 6px white; */
  margin-left: 30px;
  position: absolute;
  left: 360px;
  top: 80px;
}
.circle4 {
  width: 180px;
  height: 180px;
  border-radius: 200px;
  /* border: solid 6px white; */
  margin-left: 30px;
  position: absolute;
  left: 530px;
  top: 400px;
}
.circle5 {
  width: 294px;
  height: 294px;
  border-radius: 200px;
  /* border: solid 6px white; */
  margin-left: 30px;
  position: absolute;
  left: 700px;
  top: -80px;
}
.float1 {
  width: 234px;
  height: 58px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -60px;
}
.float2 {
  width: 234px;
  height: 58px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  right: -120px;
}
.floatImg {
  width: 41px;
  height: 41px;
  margin-right: 6px;
}
.floatText {
  font-size: 13px;
  font-weight: 400;
}
.float3 {
  width: 183px;
  height: 48px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: -100px;
}
.floatImg3 {
  width: 34px;
  height: 34px;
  margin-right: 4px;
}
.floatText3 {
  font-size: 10px;
  font-weight: 400;
}
.float4 {
  width: 227px;
  height: 57px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: -110px;
}
.floatText4 {
  font-size: 15px;
  font-weight: 800;
}
.float5 {
  width: 227px;
  height: 57px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: -110px;
}
.floatText5 {
  font-size: 15px;
  font-weight: 600;
}
.float6 {
  width: 141px;
  height: 48px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -21px;
  left: -40px;
  transform: rotate(-15deg);
}
.floatText6 {
  font-size: 21px;
  font-weight: 700;
  color: #7f46ff;
  letter-spacing: 0px;
}
.float7 {
  width: 173px;
  height: 52px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 54%;
  transform: rotate(5deg);
}
.floatText7 {
  font-size: 21px;
  font-weight: 700;
  color: #7f46ff;
  letter-spacing: 0px;
}
.float8 {
  width: 199px;
  height: 52px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 90%;
  right: 0px;
  transform: rotate(-13deg);
}
.floatText8 {
  font-size: 21px;
  font-weight: 700;
  color: #7f46ff;
  letter-spacing: 0px;
}
.emoji1 {
  width: 84px;
  height: 102px;
  position: absolute;
  top: 41vh;
  right: 440px;
  transform: rotate(13deg);
}
.emoji2 {
  width: 84px;
  height: 102px;
  position: absolute;
  top: 48vh;
  left: 190px;
  transform: rotate(-13deg);
}
.emoji3 {
  width: 72px;
  height: 70px;
  position: absolute;
  top: 60vh;
  right: 510px;
  transform: rotate(0deg);
}
.emoji4 {
  width: 84px;
  height: 102px;
  position: absolute;
  top: -50px;
  left: -30px;
  transform: rotate(-10deg);
}
.emoji5 {
  width: 84px;
  height: 102px;
  position: absolute;
  top: 55px;
  right: 30px;
  transform: rotate(15deg);
  z-index: 9999;
}
.emoji7 {
  width: 124px;
  height: 133px;
  position: absolute;
  top: -70px;
  left: -60px;
  transform: rotate(10deg);
}
.emoji8 {
  width: 124px;
  height: 133px;
  position: absolute;
  bottom: 150px;
  right: -70px;
  transform: rotate(50deg);
}
.emoji9 {
  width: 110px;
  height: 133px;
  position: absolute;
  bottom: 150px;
  left: 150px;
  transform: rotate(20deg);
}
.emoji10 {
  width: 86px;
  height: 83px;
  position: absolute;
  bottom: 60px;
  right: -80px;
  transform: rotate(0deg);
  z-index: 9;
}
.emoji11 {
  width: 112px;
  height: 107px;
  position: absolute;
  top: 140px;
  right: -250px;
  transform: rotate(0deg);
  z-index: 9;
}
.emoji12 {
  width: 112px;
  height: 107px;
  position: absolute;
  top: -60px;
  left: -100px;
  transform: rotate(-10deg);
  z-index: 9;
}
.emoji122 {
  width: 112px;
  height: 107px;
  position: absolute;
  top: -60px;
  left: -50px;
  transform: rotate(-0deg);
  z-index: 9;
}
.emoji13 {
  width: 50px;
  height: 60px;
  position: absolute;
  top: -35px;
  right: -10px;
  transform: rotate(5deg);
  z-index: 9;
}
.emoji14 {
  width: 62px;
  height: 60px;
  position: absolute;
  top: -25px;
  right: 0px;
  transform: rotate(30deg);
  z-index: 9;
}

.modalcon {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal {
  background-color: white;
  width: 1131px;
  height: 713px;
  border-radius: 70px;
  position: relative;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  /* background-color: #ff468d; */
}
.modalleft {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-top: 140px;
}
.p3 {
  width: 200px;
  height: 105px;
  left: -70px;
}
.p3modal {
  width: 165px;
  height: 102px;
  transform: scale(1);
}
.modaltext {
  color: #7f46ff;
  font-size: "Rubik";
  font-weight: 900;
  font-size: 74px;
  text-align: left;
  line-height: 74px;
  letter-spacing: -5px;
  z-index: 999;
  margin-top: 20px;
}
.modaltext2 {
  color: #b5b1b1;
  font-size: "Rubik";
  font-weight: 700;
  font-size: 15px;
  text-align: left;
  /* line-height: 50px; */
  /* letter-spacing: -5px; */
  z-index: 999;
  margin-top: 20px;
}
.modalright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 48%;
  /* background-color: #16f5ca; */
  padding-top: 120px;
}
.input {
  width: 404px;
  height: 78px;
  border: none;
  background-color: #eaeaea;
  border-radius: 50px;
  padding: 0 30px;
  font-family: "Rubik";
  margin-bottom: 20px;
  font-size: 15px;
  outline: none;
}
.btn {
  width: 185px;
  height: 77px;
  border: 4px solid black;
  border-radius: 50px;
  background-color: #7f46ff;
  color: white;
  font-family: "Rubik";
  font-weight: 900;
  font-size: 23px;
  box-shadow: black -5px 5px;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
}
.close {
  color: #7f46ff;
  font-size: 23px;
  font-family: "Rubik";
  font-weight: 900;
  padding: 20px 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.close:hover {
  transform: scale(1.05);
}
.floatm1 {
  width: 141px;
  height: 48px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 30px;
  transform: rotate(-15deg);
  z-index: 9999;
  color: white;
}
.floatText61 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.floatm2 {
  width: 199px;
  height: 52px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 44%;
  transform: rotate(5deg);
}
.floatText71 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.floatm3 {
  width: 173px;
  height: 52px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  right: -50px;
  transform: rotate(15deg);
}
.floatText81 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.line {
  height: 330px;
  /* width: 1px; */
  margin-top: 100px;
}
.heroTextm, .heroSubTextm, .bannerFooterm {
  display: none;
}

/* BIG */
@media only screen and (max-width: 1500px) {
  .container {
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: "Rubik";
    font-weight: 900;
    position: relative;
  }
  .hero {
    width: 100%;
    height: 1079px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 122px;
  }
  .hero2 {
    width: 100%;
    height: 1079px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding-top: 122px;
  }
  .hero3 {
    width: 100%;
    height: 1079px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 122px;
    background-position: center;
  }
  .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 31px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .logo {
    width: 214.48px;
    height: 97.85px;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .textBtn {
    font-size: 19px;
    font-weight: 900;
    color: white;
    margin-right: 50px;
  }
  .joinBtn {
    width: 243px;
    height: 75px;
    border-radius: 56px;
    background-color: #7f46ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
  }
  .heroContent {
    width: 100%;
    height: 957px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heroText {
    font-size: 130px;
    color: white;
    letter-spacing: -5px;
    line-height: 130px;
    text-align: center;
  }
  .heroSubText {
    font-size: 30px;
    color: white;
    letter-spacing: -1px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
  }
  .joinBtn2 {
    width: 335px;
    height: 90px;
    border-radius: 56px;
    background-color: white;
    box-shadow: #7f46ff 9px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 27px;
    border: solid #7f46ff 3px;
    margin-top: 70px;
    font-weight: 600;
  }
  .banner {
    width: 100%;
    height: 1079px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bannerHeader {
    font-size: 39px;
    color: #d8d8d8;
    font-weight: 600;
    text-align: center;
  }
  .bannerText {
    font-size: 114px;
    color: white;
    font-weight: 900;
    letter-spacing: -5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .bannerFooter {
    font-size: 30px;
    color: #d8d8d8;
    font-weight: 300;
    text-align: center;
  }
  .content1 {
    width: 100%;
    height: 1079px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7f46ff;
    padding-left: 295px;
    padding-right: 295px;
  }
  .content1Left {
    display: flex;
    flex-direction: column;
  }
  .challenge {
    font-size: 22px;
    color: #ffcd00;
  }
  .content1Text {
    font-size: 130px;
    color: white;
    line-height: 85px;
    letter-spacing: -5px;
  }
  .content1Subtext {
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-top: 40px;
    line-height: 33px;
  }
  .joinBtn3 {
    width: 293px;
    height: 79px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: white -9px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border: solid white 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .screen1 {
    width: 481px;
    height: 900px;
    border-radius: 48px;
    border: solid 11px black;
    background-color: darkslategrey;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    padding-top: 40px;
    background: url(/screen1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .bar {
    width: 100px;
    height: 8px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 10px;
  }
  .hashtag {
    color: white;
    font-size: 41px;
    margin-top: 48px;
    font-weight: 800;
  }
  .views {
    color: white;
    font-size: 33px;
    margin-top: 48px;
    font-weight: 700;
  }

  .content2 {
    width: 100%;
    height: 1079px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #7f46ff;
    padding-left: 295px;
    padding-right: 295px;
  }
  .content2Left {
    display: flex;
    flex-direction: column;
    margin-right: -100px;
  }
  .challenge {
    font-size: 22px;
    color: #ffcd00;
    margin-bottom: 10px;
  }
  .content2Text {
    font-size: 100px;
    color: white;
    line-height: 85px;
    letter-spacing: -5px;
  }
  .content2Subtext {
    font-size: 25px;
    color: white;
    font-weight: 600;
    margin-top: 40px;
    line-height: 33px;
  }
  .joinBtn4 {
    width: 293px;
    height: 79px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: white 9px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border: solid white 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .screen2 {
    width: 481px;
    height: 900px;
    border-radius: 48px;
    border: solid 11px black;
    background-color: darkslategrey;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px;
    padding-top: 40px;
    background: url(/screen2.png);
    background-size: cover;
    position: relative;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .bar {
    width: 100px;
    height: 8px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 10px;
  }
  .hashtag2 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
  }
  .views2 {
    color: white;
    font-size: 33px;
    font-weight: 700;
  }
  .footer {
    width: 100%;
    height: 1079px;
    background-color: #ffcd00;
  }
  .footerText {
    font-size: 150px;
    color: black;
    letter-spacing: -5px;
    line-height: 130px;
    text-align: center;
    position: relative;
  }
  .joinBtn5 {
    width: 293px;
    height: 79px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: black -9px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    border: solid black 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .footContent {
    width: 100%;
    height: 957px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    padding-left: 57px;
    padding-right: 57px;
  }
  .fleft {
    font-family: "Rubik";
    font-weight: 700;
  }
  .fleft text {
    margin-left: 30px;
    font-size: 24;
  }
  .fcenter {
    font-family: "Rubik";
    font-weight: 600;
    font-size: 19;
  }
  .icon {
    width: 52px;
    height: 52px;
    margin-right: 10px;
  }
  .circles {
    width: 50%;
    height: 500px;
    display: flex;
    position: relative;
  }
  .circle1 {
    width: 294px;
    height: 294px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
  }
  .circle2 {
    width: 182px;
    height: 182px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 280px;
    top: -180px;
  }
  .circle3 {
    width: 253px;
    height: 253px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 360px;
    top: 80px;
  }
  .circle4 {
    width: 180px;
    height: 180px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 530px;
    top: 400px;
  }
  .circle5 {
    width: 294px;
    height: 294px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 700px;
    top: -80px;
  }
  .float1 {
    width: 234px;
    height: 58px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: -60px;
  }
  .float2 {
    width: 234px;
    height: 58px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    right: -120px;
  }
  .floatImg {
    width: 41px;
    height: 41px;
    margin-right: 6px;
  }
  .floatText {
    font-size: 13px;
    font-weight: 400;
  }
  .float3 {
    width: 183px;
    height: 48px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: -100px;
  }
  .floatImg3 {
    width: 34px;
    height: 34px;
    margin-right: 4px;
  }
  .floatText3 {
    font-size: 10px;
    font-weight: 400;
  }
  .float4 {
    width: 227px;
    height: 57px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: -110px;
  }
  .floatText4 {
    font-size: 15px;
    font-weight: 800;
  }
  .float5 {
    width: 227px;
    height: 57px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: -110px;
  }
  .floatText5 {
    font-size: 15px;
    font-weight: 600;
  }
  .float6 {
    width: 141px;
    height: 48px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -21px;
    left: -40px;
    transform: rotate(-15deg);
  }
  .floatText6 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
  .float7 {
    width: 173px;
    height: 52px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 54%;
    transform: rotate(5deg);
  }
  .floatText7 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
  .float8 {
    width: 199px;
    height: 52px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    right: 0px;
    transform: rotate(-13deg);
  }
  .floatText8 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
}

/* MOBILE */
@media only screen and (max-width: 550px) {
  .container {
    min-height: 100vh;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    font-family: "Rubik";
    font-weight: 900;
    position: relative;
  }
  .hero {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero1.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 122px;
  }
  .hero2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 122px;
  }
  .hero3 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), black),
      url("/hero3.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 122px;
    background-position: center;
  }
  .nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 57px;
    padding-right: 57px;
    padding-top: 31px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .logo {
    width: 167px;
    height: 80px;
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    display: none;
  }
  .textBtn {
    font-size: 19px;
    font-weight: 900;
    color: white;
    margin-right: 50px;
  }
  .joinBtn {
    width: 243px;
    height: 75px;
    border-radius: 56px;
    background-color: #7f46ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
  }
  .heroContent {
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .heroText {
    display: none;
  }
  .heroTextm {
    display: flex;
    font-size: 41px;
    color: white;
    letter-spacing: -2px;
    line-height: 41px;
    text-align: center;
  }
  .heroSubText {
    display: none;
  }
  .heroSubTextm {
    display: flex;
    font-size: 11px;
    color: white;
    letter-spacing: 0px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
  }
  .joinBtn2 {
    width: 149px;
    height: 44px;
    border-radius: 56px;
    background-color: white;
    box-shadow: #7f46ff 4px 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 12px;
    border: solid #7f46ff 3px;
    margin-top: 70px;
    font-weight: 600;
  }
  .banner {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 150px;
  }
  .bannerHeader {
    font-size: 15px;
    color: #d8d8d8;
    font-weight: 600;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
  }
  .bannerText {
    font-size: 50px;
    line-height: 50px;
    color: white;
    font-weight: 900;
    letter-spacing: -5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bannerFooter {display: none;}
  .bannerFooterm {
    display: flex;
    font-size: 12px;
    color: #d8d8d8;
    font-weight: 300;
    text-align: center;
  }
  .content1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7f46ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .content1Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .challenge {
    font-size: 16px;
    color: #ffcd00;
  }
  .content1Text {
    font-size: 45px;
    color: white;
    line-height: 45px;
    letter-spacing: -2px;
    text-align: center;
  }
  .content1Subtext {
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    line-height: 12px;
    text-align: center;
  }
  .joinBtn3 {
    width: 149px;
    height: 44px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: white -5px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border: solid white 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .screen1 {
    width: 244px;
    height: 450px;
    border-radius: 16px;
    border: solid 5px black;
    background-color: darkslategrey;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    padding-top: 20px;
    background: url(/screen1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
  }
  .bar {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 0px;
  }
  .hashtag {
    color: white;
    font-size: 19px;
    margin-top: 48px;
    font-weight: 800;
  }
  .views {
    color: white;
    font-size: 12px;
    margin-top: 48px;
    font-weight: 700;
  }
  .content2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #7f46ff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .content2Left {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .challenge {
    font-size: 16px;
    color: #ffcd00;
    margin-bottom: 10px;
  }
  .content2Text {
    font-size: 45px;
    color: white;
    line-height: 45px;
    letter-spacing: -2px;
  }
  .content2Subtext {
    font-size: 12px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    line-height: 18px;
  }
  .joinBtn4 {
    width: 149px;
    height: 44px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: white -5px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border: solid white 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .screen2 {
    width: 244px;
    height: 450px;
    border-radius: 16px;
    border: solid 5px white;
    background-color: darkslategrey;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    padding-top: 40px;
    background: url(/screen2.png);
    background-size: cover;
    position: relative;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
  .bar {
    width: 100px;
    height: 8px;
    border-radius: 100px;
    background-color: white;
    margin-bottom: 10px;
  }
  .hashtag2 {
    color: white;
    font-size: 9px;
    font-weight: 600;
    margin-top: 0px;
  }
  .views2 {
    color: white;
    font-size: 19px;
    font-weight: 900;
  }
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #ffcd00;
  }
  .footerText {
    font-size: 55px;
    color: black;
    letter-spacing: -5px;
    line-height: 55px;
    text-align: center;
    position: relative;
  }
  .joinBtn5 {
    width: 149px;
    height: 44px;
    border-radius: 56px;
    background-color: #7f46ff;
    box-shadow: black -9px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    border: solid black 3px;
    margin-top: 40px;
    font-weight: 600;
  }
  .footContent {
    width: 100%;
    /* height: 957px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .foot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #7f46ff;
    align-items: center;
    font-size: 27px;
    padding-left: 57px;
    padding-right: 57px;
  }
  .fleft {
    font-family: "Rubik";
    font-weight: 700;
  }
  .fleft text {
    margin-left: 30px;
    font-size: 24;
  }
  .fcenter {
    font-family: "Rubik";
    font-weight: 600;
    font-size: 19;
  }
  .icon {
    width: 52px;
    height: 52px;
    margin-right: 10px;
  }
  .circles {
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
  }
  .circle1 {
    width: 169px;
    height: 169px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: -120px;
    top: 200px
  }
  .circle2 {
    width: 104px;
    height: 104px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 40px;
    top: 80px;
  }
  .circle3 {
    width: 145px;
    height: 145px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 70px;
    top: 240px;
  }
  .circle4 {
    width: 103px;
    height: 103px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 150px;
    top: 400px;
  }
  .circle5 {
    width: 168px;
    height: 168px;
    border-radius: 200px;
    /* border: solid 6px white; */
    margin-left: 30px;
    position: absolute;
    left: 220px;
    top: 100px;
  }
  .float1 {
    width: 234px;
    height: 58px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: -60px;
  }
  .float2 {
    width: 234px;
    height: 58px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    right: -120px;
  }
  .floatImg {
    width: 41px;
    height: 41px;
    margin-right: 6px;
  }
  .floatText {
    font-size: 13px;
    font-weight: 400;
  }
  .float3 {
    width: 183px;
    height: 48px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: -100px;
  }
  .floatImg3 {
    width: 34px;
    height: 34px;
    margin-right: 4px;
  }
  .floatText3 {
    font-size: 10px;
    font-weight: 400;
  }
  .float4 {
    width: 227px;
    height: 57px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    right: -110px;
  }
  .floatText4 {
    font-size: 15px;
    font-weight: 800;
  }
  .float5 {
    width: 227px;
    height: 57px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    left: -110px;
  }
  .floatText5 {
    font-size: 15px;
    font-weight: 600;
  }
  .float6 {
    width: 141px;
    height: 48px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -21px;
    left: -40px;
    transform: rotate(-15deg);
  }
  .floatText6 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
  .float7 {
    width: 173px;
    height: 52px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 54%;
    transform: rotate(5deg);
  }
  .floatText7 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
  .float8 {
    width: 199px;
    height: 52px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90%;
    right: 0px;
    transform: rotate(-13deg);
  }
  .floatText8 {
    font-size: 21px;
    font-weight: 700;
    color: #7f46ff;
    letter-spacing: 0px;
  }
}
