.container {
  height: 100vh;
  background-color: #000000;
  margin: 0;
  overflow: hidden;
  font-family: "Rubik";
  font-weight: 900;
  position: relative;
  overflow: hidden;
  overflow-y: hidden;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 31px;
}
.logo {
  width: 214.48px;
  height: 97.85px;
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.textBtn {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 30px;
  cursor: pointer;
}
.joinBtn {
  width: 254.9px;
  height: 68.6px;
  border-radius: 56px;
  background-color: #7f46ff;
  border: solid white 3px;
  box-shadow: white -7px 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}
.accordion {
  margin-left: 57px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tabs {
  margin-right: 40px;
  font-size: 21px;
  font-weight: 600;
  color: #888c94;
  padding-bottom: 5px;
  padding: 9px;
}
.active {
  color: white;
  border-bottom: 2px solid #7f46ff;
}
.waitlist {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  overflow: hidden;
}
.number {
  font-size: 243px;
  color: white;
  letter-spacing: -10px;
  margin-top: -70px;
  background: linear-gradient(to right, #7f46ff 0%, #7f46ff 40%, #ff46b1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subText {
  font-size: 53px;
  font-weight: 600;
  color: white;
  margin-bottom: 50px;
}

.modalcon {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal {
  background-color: white;
  width: 1131px;
  height: 713px;
  border-radius: 70px;
  position: relative;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  /* background-color: #ff468d; */
  transform: scale(1.1);
}
.modalb {
  background-color: white;
  width: 1131px;
  height: 713px;
  border-radius: 70px;
  position: relative;
  display: flex;
  flex: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  /* background-color: #ff468d; */
}
.modalleft {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-top: 140px;
}
.modalleftb {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-top: 10px;
}
.p3 {
  width: 200px;
  height: 105px;
  left: -70px;
}
.p3modal {
  width: 165px;
  height: 102px;
  transform: scale(1);
}
.modaltext {
  color: #7f46ff;
  font-size: "Rubik";
  font-weight: 900;
  font-size: 74px;
  text-align: left;
  line-height: 74px;
  letter-spacing: -2px;
  z-index: 999;
  margin-top: 20px;
}
.modaltext2 {
  color: #b5b1b1;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  z-index: 999;
  margin-top: 20px;
}
.modalright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 48%;
  /* background-color: #16f5ca; */
  padding-top: 120px;
}
.input {
  width: 404px;
  height: 78px;
  border: none;
  background-color: #eaeaea;
  border-radius: 50px;
  padding: 0 30px;
  font-family: "Rubik";
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  color: #b5b1b1;
}
.input::placeholder {
  color: #b5b1b1;
}
.input::-webkit-input-placeholder:after {
  content: " *";
  color: red;
  z-index: 9999;
}
.input:-moz-placeholder:after {
  content: " *";
  color: red;
  z-index: 9999;
}
.input:-ms-input-placeholder:after {
  content: " *";
  color: red;
  z-index: 9999;
}
.btn {
  width: 185px;
  height: 77px;
  border: 4px solid black;
  border-radius: 50px;
  background-color: #7f46ff;
  color: white;
  font-family: "Rubik";
  font-weight: 900;
  font-size: 23px;
  box-shadow: black -5px 5px;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.05);
}
.close {
  color: #7f46ff;
  font-size: 23px;
  font-family: "Rubik";
  font-weight: 900;
  padding: 20px 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.close:hover {
  transform: scale(1.05);
}

.emoji122 {
  width: 112px;
  height: 107px;
  position: absolute;
  top: -60px;
  left: -50px;
  transform: rotate(-0deg);
  z-index: 9;
}
.emoji13 {
  width: 50px;
  height: 60px;
  position: absolute;
  top: -35px;
  right: -10px;
  transform: rotate(5deg);
  z-index: 9;
}
.emoji14 {
  width: 62px;
  height: 60px;
  position: absolute;
  top: -25px;
  right: 0px;
  transform: rotate(30deg);
  z-index: 9;
}

.floatm1 {
  width: 141px;
  height: 48px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 30px;
  transform: rotate(-15deg);
  z-index: 9999;
  color: white;
}
.floatText61 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.floatm2 {
  width: 199px;
  height: 52px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: 44%;
  transform: rotate(5deg);
}
.floatText71 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.floatm3 {
  width: 173px;
  height: 52px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  right: -50px;
  transform: rotate(15deg);
}
.floatText81 {
  font-size: 21px;
  font-weight: 700;
  color: white;
  letter-spacing: 0px;
}
.line {
  height: 330px;
  /* width: 1px; */
  margin-top: 100px;
}
.floatImg {
  width: 34px;
  height: 34px;
  margin-right: 4px;
}
.referral {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rleft {
  width: 1300px;
  margin-left: 50px;
  padding-right: 50px;
  /* height: 200px; */
  color: white;
  display: flex;
  flex-direction: column;
}
.rright {
  width: 591px;
  height: 500px;
  background-color: #14171f;
  border-top-left-radius: 56px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
}
.ranking {
  font-size: 23px;
  color: white;
  font-weight: 400;
  margin-bottom: 30px;
}
.tab {
  margin-top: 25px;
  color: #888c94;
  font-size: 19px;
  font-weight: 300;
  padding-bottom: 11px;
  border-bottom: solid 0.3px #888c94;
}
.tab text {
  padding: 11px;
  border-bottom: solid 2px #7f46ff;
}
.listitem {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.imgborder {
  width: 95px;
  height: 95px;
  border: 2px solid #fc3764;
  border-radius: 100px;
  border-style: dashed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgborder img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #fc3764;
}
.midtext {
  display: flex;
  flex-direction: column;
  margin-left: -60px;
  color: white;
}
.name {
  font-size: 17px;
  margin-bottom: 8px;
}
.emojis {
  font-size: 15px;
  color: #747883;
}
.rank {
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rank img {
  width: 29px;
  height: 29px;
  background-color: #232833;
  border-radius: 30px;
  border: none;
  margin-right: 9px;
}
.number2 {
  font-size: 94px;
  font-weight: 600;
  margin: 10px 0 5px 10px;
}
.subtext2 {
  font-size: 21px;
  color: #888c94;
  font-weight: 600;
}
.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 20px 0;
}
.head1 {
  font-size: 23px;
}
.filter {
  width: 173px;
  height: 62px;
  border: 1px solid #747883;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #747883;
  font-weight: 300;
}
.stick {
  width: 100%;
  height: 160px;
  border-radius: 30px;
  background: linear-gradient(to right, #7f46ff 0%, #ff46b1 100%);
  color: white;
  margin: 20px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.position {
  font-size: 69px;
}
.midtext1 {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  color: white;
}
.name1 {
  font-size: 37px;
  margin-bottom: 5px;
  font-weight: 600;
}
.emojis1 {
  font-size: 20px;
  color: white;
}
.signups {
  font-size: 56px;
  margin-right: -100px;
}
.stick img {
  width: 29px;
  height: 29px;
  background-color: #232833;
  border-radius: 30px;
  border: none;
  margin-right: 9px;
  margin-bottom: -10px;
}
